{% extends "_base.html" %}
{% load static %}
{% block javascript %}
  <script>
    const ajaxURL = "{% url 'games:save_data' %}";
  </script>
  <script src="{% static 'dist/js/static/dist/js/chunk-vendors.fe524f45.js' %}"></script>
{% endblock %}
{% block title %}Game Stats{% endblock %}
{% block main %}
  <h2>Games</h2>
  <div class="table-responsive">
    <table class="table table-striped" style="min-width: 500px">
      <thead>
        <tr>
          <th>User</th><th>Game</th><th>Score</th><th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for game in leaderboard_list %}
          <tr>
            <td><a href="{{ leaderboard.get_absolute_url }}">{{ game.username }}</a></td>
            <td> {{ game.category }} </td>
            <td>{{ game.final_score }}</td>
            <td>{{ game.time }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

