{% extends "_base.html" %}

{% block title %}Home{% endblock %}
{% block main %}
  <h2 style="text-align: center">Welcome!</h2>
  <p style="text-align: center;">Ready to play?</p>
  <div id="clients1" style="text-align: center; margin:auto; background-color: lightblue;">
    <h4>Happy clients say ... </h4>
    <p>This is the best game ever!</p>  
    <p>                           Justin Jest</p>
  </div>
  <section>
    <div class="container row">
      <div class="card" style="width: 50%; margin: auto; padding: .2rem;">
        <div class="card-body" id="anagram">
          <h4 class="card-title">Anagram Hunt</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam et gravida sapien, facilisis condimentum arcu. 
            Morbi eget dui iaculis, porttitor eros et, tincidunt erat. 
            Sed sollicitudin, mauris vitae semper consequat, purus velit aliquet mi, 
            sit amet posuere eros tortor eget neque. Phasellus hendrerit justo...
            <a href="#" class="play">Play</a>
          </p>
        </div>
      </div>
      <div class="card" style="width: 50%; margin: auto; padding: .2rem;">
        <div class="card-body" id="mathfacts">
          <h4 class="card-title">Math Facts Practice</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam et gravida sapien, facilisis condimentum arcu. 
            Morbi eget dui iaculis, porttitor eros et, tincidunt erat. 
            Sed sollicitudin, mauris vitae semper consequat, purus velit aliquet mi, 
            sit amet posuere eros tortor eget neque. Phasellus hendrerit justo...
            <a href="#" class="play">Play</a>
          </p>
        </div>
      </div>
  </div>
</section>
{% endblock %}

  

        

        

