{% extends "_base.html" %}

{% block title %}Home{% endblock %}
{% block main %}
  <h2 style="text-align: center">Welcome!</h2>
   <p style="text-align: center;">Ready to Play?</p>

  <div id="clients1" style="text-align: center; margin:auto; background-color: lightblue;">
    <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
         {% for review in userreviews_list %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <p> "{{ review.user_review }}"</p>
            </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
  <section>
    <div class="container row">
      <div class="card" style="width: 50%; margin: auto; padding: .2rem;">
        <div class="card-body" id="anagram">
          <h4 class="card-title">Anagram Hunt</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam et gravida sapien, facilisis condimentum arcu. 
            Morbi eget dui iaculis, porttitor eros et, tincidunt erat. 
            Sed sollicitudin, mauris vitae semper consequat, purus velit aliquet mi, 
            sit amet posuere eros tortor eget neque. Phasellus hendrerit justo...
            <a href="#" class="play">Play</a>
          </p>
        </div>
      </div>
      <div class="card" style="width: 50%; margin: auto; padding: .2rem;">
        <div class="card-body" id="mathfacts">
          <h4 class="card-title">Math Facts Practice</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam et gravida sapien, facilisis condimentum arcu. 
            Morbi eget dui iaculis, porttitor eros et, tincidunt erat. 
            Sed sollicitudin, mauris vitae semper consequat, purus velit aliquet mi, 
            sit amet posuere eros tortor eget neque. Phasellus hendrerit justo...
            <a href="#" class="play">Play</a>
          </p>
        </div>
      </div>
  </div>
</section>
{% endblock %}

  

        

        

