{% extends "_base.html" %}

{% block title %}Game Stat Details{% endblock %}
{% block main %}
  <div class="card border-primary m-auto mb-3 text-center"
    style="max-width: 30rem">
    <div class="card-header">{{ leaderboard.username }}</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{ leaderboard.final_score }}</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted"> 
        {{ leaderboard.game_type }} [{{ leaderboard.game_settings }}] 
        ~~ Played: {{ leaderboard.time }}
      </small>
    </div>
  </div>
{% endblock %}